.blogContainer {
  margin: auto;
  margin-top: 50px;
  width: 60%;
}
.blogImageDiv {
  text-align: center;
}
.blogImageDiv > img {
  width: 80%;
  height: 400px;
  object-fit: cover;
}

.RBcontentDiv {
  margin-top: 10px;
  margin-bottom: 40px;
}
.RBcontentDiv > h1 {
  font-size: 20px;
}
.RBcontentDiv > p {
  font-size: 15px;
  margin-top: 20px;
}

.authorDetDiv > p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #969696;
}
.comments_container {
  margin: auto;
  margin-top: 50px;
  width: 60%;
}
.commentsDiv {
  border: 1px solid #ccc;
  min-height: 50px;
  padding: 10px;
}
.postCommentDiv {
  margin-bottom: 50px;
  margin-top: 20px;
}
.postCommentDiv > form {
  display: flex;
}
.postCommentDiv > form > textarea {
  outline: none;
  border: 1px solid #969696;
}
.postCommentDiv > form > input:nth-child(2) {
  background-color: rgb(29, 205, 211);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0px 10px;
  height: 40px;
}
